
<center>
    <h1>Want to play Minecraft with /r/raisedbynarcissists?</h1>
    <p>Fill out your information here and we'll add you to the whitelist!</p>
</center>

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
</div>
