<center><h1>Thanks!</h1></center>

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <p>
            We'll get right on that. Normally you'll get whitelisted within a day,
            once Ross gets back from work / whatever he's doing. If it takes longer
            than that, please PM him on Reddit,
            <a href="http://www.reddit.com/user/randrews/">/u/randrews</a>.
        </p>

        <%= link_to "Back", '/' %>
    </div>
</div>
